#admin-page-wrapper {
  padding: 10px;
}

#reports-list {
  li {
    display: flex;
    margin: 5px;
    justify-content: space-between;
    border: 1px solid black;
    div {
      width: 200px;
      margin: 5px;
      display: flex;
      flex-direction: column;
    }
  }
}
