#reports-list {
  li {
    display: flex;
    margin: 5px;
    justify-content: space-between;
    border: 1px solid black;
    div {
      width: 200px;
      margin: 5px;
      display: flex;
      flex-direction: column;
    }
  }
}

.reports-list_button-group {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  span {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
}
