@import "../../styles.scss";

#admin-panel {
  min-height: 100vh;
  background: url(../../assets/images/iStock-901001432opacity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 768px) {
    // background: url(../../assets/images/iStock-901001432opacity.jpg);
    // background-size: cover;
  }
}

// #admin-page-wrapper {
// }

#reports-list {
  padding: 40px;
  li {
    padding: 5px 10px;
    color: #131313;
    &:hover {
      background-color: $bright-color-opa;
    }
  }
  @media screen and (max-width: 768px) {
    width: 97%;
    margin: 0 auto;
    padding: 15px;
  }
}
