@import "../../styles.scss";

#admin-panel {
  height: 100vh;
  background: url(../../assets/images/iStock-901001432opacity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

// #admin-page-wrapper {
// }

#reports-list {
  padding: 40px;
  li {
    padding: 5px 10px;
    color: #131313;
  }
}
