@import "../../styles.scss";

#wizard {
  display: flex;
  min-height: calc(100vh - 114px);
  color: $base-text-color;
     
    background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 114px);
    
    background-size: cover;
  }
  @media screen and (max-width: 425px) {
    align-items: center;
    min-height: 100vh;
    
  }


  #wizard-select-section {

    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    margin: 0 50px;
    padding-bottom: 30px;
    > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      border-radius: 5px;
      width: 330px;
    }
    @media screen and (max-width: 768px) {
      justify-content: center;
      
      
    }
  }
  #wizard-info-section {
    min-height: calc(100vh - 114px);
    width: 300px;
    border-right: 2px solid $bright-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      width: 100%;
      min-height: calc(30vh - 114px);
      
    }
    @media screen and (max-width: 425px) {
      min-height: calc(30vh - 114px);
    }
  }
}

.wizard-main-section {
  // background-image: url("../../assets/images/iStock-901001432opacity.jpg");
  // background-size: cover;
  
  width: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768px) {

    margin-top:20px;
  }
  
}

.wizard-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  width: 40%;
  margin-top: 10px;
  border-top: 0.5px solid $base-text-color;
}

.next-btn-wrapper {
  .next-btn {
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    background-color: $bright-color;
    color: $base-text-color;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
      background-color: $select-color;
    }
  }
}

.back-btn-wrapper {
  .back-btn {
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    background-color: $select-color;
    &:hover {
      cursor: pointer;
      background-color: $base-text-color;
    }
  }
}
