

    .card {
        border: 1px solid rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            padding: 20px;
            object-fit: cover;
           
        }
    }

    

    

