@import "../../../styles.scss";

#wizard-report-step-3 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 500px;
  margin: 0 auto 10px;
  border: none;
  background-color: $very-bright-color-opa;
  border-radius: 10px;
}

.wizard-select-outer-wrapper {
  margin: 40px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

@media screen and (max-width: 768px) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0 0 0;

}




}

.wizard-select-inner-wrapper {
  select,  input {
    height: 30px;
    border-radius: 5px;
    background-color: $very-bright-color-opa;
    font-size: 16px;
    width: 150px;
    @media screen and (max-width: 768px) {
      width:270px;
    }
@media screen and (max-width: 425px) {
     width: 200px;
}
  }

 
}


