.create-candidate, .create-company {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  p {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  input {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }

  button {
    background: #f1356d;
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
}
