@import '../../styles.scss';
.modal-bg {
  position: relative;
  min-height: 100vh;
  width: 99vw;
  background-color: $base-color-modal;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  .modal {
    min-height: calc(100vh - 300px);
    width: calc(100vw - 600px);
    background-color: $base-color-modal;
    position: fixed;
    border-radius: 5px 100px 5px 100px;
    border-bottom: 2px solid  $bright-color;
    border-left: 2px solid  $bright-color;
    color: $very-bright-color;
    font-weight: 400;
    padding: 5%;
  }
  .modal-close {
    background-color: $bright-color;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .modal-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    div {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
      h3 {
        padding-left: 10px;
      }
    }
  }
  .report-notes {
    display: flex;
    justify-content: space-between;
    p{
      text-align: justify;
      min-width: 51px;
    }
    .report-notes-content {
      padding-left: 10px;
    }
    
  }
  .candidate-name {
    margin-bottom: 30px;
  }
}
