@import "../../styles.scss";

.main-header {
  background-color: $base-text-color;
  color: $very-bright-color;
  height: 78px;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#header-btns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  button {
    font-size: 16px;
    background-color: transparent;
    color: $very-bright-color;
    border: none;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
      font-weight: 500;
      color: $bright-color;
    }
  }
  .create-buttons-invisible {
    visibility: hidden;
  }
  .create {
    position: relative;
    width: 55px;
    &:hover {
      cursor: pointer;
      .create-buttons-invisible {
        position: absolute;
        top: 10px;
        right: 0;
        width: 400px;
        display: flex;
        justify-content: flex-end;
        button {
          visibility: visible;
          color: $very-bright-color-opa;
          font-size: 14px;
          font-weight: 400;
          margin: 0;
          margin-top: 12px;
          &:hover {
            text-decoration: underline;
            color: $very-bright-color;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $very-bright-color;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.bigMac .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.bigMac .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.bigMac .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    left: -100%;
    top: 80px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: $base-text-color;
    z-index: 3;
    height: 10vh;
    padding-right: 60px;
    .create {
      display: flex;
      justify-content: space-between;
    }
  }

  .navigation-wrapper.bigMac {
    left: 0;
  }
}
@media screen and (max-width: 425px) {
  .navigation-wrapper {
    .create {
      .create-buttons-invisible {
        button {
          font-size: 10px;
        }
      }
    }
  }
}
