@import "../../styles.scss";
.main-header {
    background-color: $base-text-color;
    color: $very-bright-color;
    padding: 20px 60px;
}
#header-btns {
  display: flex;
  justify-content: space-between;
  button {
    border: none;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
      background-color: orange;
    }
  }
}