.search {

    margin-right: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    margin:20px;

    input{

        background-color: white;
        border-radius: 15px;
        border-right: none;
        padding: 10px;
        height: 30px;
        border: none;
        width: 250px;

    }



}