.search {
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 

    input{

        background-color: white;
        border-radius: 15px;
        border-right: none;
        padding: 10px;
        height: 30px;
        border: none;
        width: 250px;
    }



}