$base-text-color: #324b4a;
$select-color: #b87658;

.glass-effect {
  background: rgba(50, 75, 74, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(50, 75, 74, 0.53);
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.75);
}

.highlighted {
  background-color: $select-color;
}

.disabled {
  background-color: gray !important;
  cursor: unset !important;
}

.hidden {
  visibility: hidden !important;
}
