$base-text-color: rgb(2, 32, 50);
$base-color-modal: rgb(2, 32, 50, 0.6);
$select-color: rgb(2, 32, 50, 0.2);
$bright-color: rgb(255, 213, 87);
$bright-color-opa: rgb(255, 213, 87, 0.36);
$very-bright-color: rgb(238, 244, 249);
$very-bright-color-opa: rgb(238, 244, 249, 0.5);

.glass-effect-bright {
  background: $bright-color-opa;
  border-bottom: 2px solid $bright-color;
  border-left: 2px solid $bright-color;
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
}
.glass-effect-grey {
  background: $select-color;
  border-bottom: 2px solid $base-text-color;
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
}

.highlighted {
  background-color: $bright-color !important;
}

.disabled {
  background-color: $select-color !important;
  cursor: unset !important;
}

.hidden {
  visibility: hidden !important;
}
