@import "../../styles.scss";
.header-page{
  background: url(../../assets/images/iStock-901001432opacity.jpg) rgb(255, 255, 255, 0.5);
  background-size: cover;
}
.sub-header {
  background-color: $very-bright-color-opa;
  color: $base-text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $base-text-color;
  border-left: 2px solid $base-text-color;
  border-radius: 0 0 0 60px;
  padding-left: 60px;
  margin-bottom: 60px;
  height: 60px;
}
.cards {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 30px;
  a {
    text-decoration: none;
    width: 250px;
    margin: 30px;
    margin-top: 50px;
  }
}
